body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.auth-container {
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.chat-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #1e293b;
  padding: 10px;
}

.user-item {
  padding: 10px;
  cursor: pointer;
}

.user-item:hover {
  background: #334155;
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.msg {
  max-width: 300px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

.left {
  background: #334155;
  text-align: left;
}

.right {
  background: #3b82f6;
  text-align: right;
  margin-left: auto;
}

.input-area {
  display: flex;
  padding: 10px;
  background: #1e293b;
}

.input-area input {
  flex: 1;
}
